* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

.top-section {
      text-align: center;
      height: 42px;
      background: #03A84E;
}

.top-section h3 {
      font-size: 20px;
      color: #fff;
      font-weight: normal;
      padding-top:6px;
}

/* =============== styling NAVBAR=============== */
.navbar-brand img {
      width: 60px;
      height: 63px;
}

.btn {
      margin-right: 10px;
}

.star-item {
      color: #FFE200;
}

.hero-item h1 {
      font-size: 60px;
      font-weight: 900;
}

.hero-item p {
      font-size: 18px;
      color: grey;

}

.card {
      border: 0;
      background: none;
}

.about-title h2 {
      font-size: 36px;
}

.about-title p {
      font-size: 20px;
      color: grey;
}

.customer {
      position: relative;
}

.customer span {
      color: #03A84E;
}

.line-height {
      position: absolute;
      margin-left: 170px;
      top: 515px;
}

.second {
      position: relative;
}

.line {
      position: absolute;
      left: 238px;
      bottom: -22px;

}

.second__part {
      position: relative;
}

.second__part img {
      margin-bottom: 20px;
}

.second__part p {
      margin-bottom: 20px;
}

.third__part {
      position: relative;
}

.third__part .line {
      position: absolute;
      top: -190px;
      left: 142px;
      
}
.resources > img {
      width: 780px;
      height: 600px;
}
.resources-item div {
      margin-bottom: 20px;
      
}
.resources-item div i {
      margin-right: 10px;
}
.accordion a {
      text-decoration: none;
}

.span {
      color: #03A84E;
      font-size: 24px;
      margin-right: 10px;
}

.item ul {
      list-style-type: none;
}
.item li {
      font-size: 18px;
}
.footer {
      background: #242424;
}
.footer-header {
      margin-top:20px;
      margin-bottom:20px;
}
.footer-item {
      display: flex;
      justify-content: space-between;
      text-align: left;
      
}
.footer-item li {
      font-size: 20px;
      color: #fff;
}
.footer-item ul {
      list-style-type: none;
      cursor: pointer;
      
}

.footer-header {
      padding: 20px;
     
      text-align: left;
      font-size: 23px;
}
.footer-header li {
      margin-right: 4px;
}
.footer-header a {
      text-decoration: none;
      color:#fff;
}
.footer-header a:hover {
      color: #03A84E;
}
/* .footer-sub-header p {
      max-width: 30%;
} */
.footer-sub-header li {
      font-size: 24px;
      color: #03A84E;
}
 .footer-sub-header span {
      color: #03A84E;
}
.privacy {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #242424;
}
.terms ul{
      display: flex;
      justify-content: space-between;
      
}
.terms li {
      list-style-type: none;
}
.terms a {
      text-decoration: none;
      font-size: 17px;
      color:#03A84E;
      margin: 0px 6px;
      
}
.social-icon ul {
      display: flex;
       justify-content:center;
       align-items:flex-end;
}
.social-icon ul li {
      list-style: none;
}
.social-icon ul li a {
      margin:0px 10px;
      font-size: 19px;
      text-align: left;
      color: #fff;
}
.social-icon ul li a:hover {
      color: #03A84E;
      margin-right: 3px;
}
hr {
      color: #03A84E;
      border: 2px solid #03A84E;
      background: #242424;
}
footer {
      text-align: left;
      color: #fff;
      background: #242424;
}
.footer-sec {
      background: #242424;
}